<launch>

    <arg name="rosbot_pro" default="false"/>

    <include file="$(find tutorial_pkg)/launch/rosbot_hardware.launch">
        <arg name="rosbot_pro" value="$(arg rosbot_pro)" />
    </include>

    <include file="$(find tutorial_pkg)/launch/depthimage_to_laserscan.launch"></include>

    <node pkg="topic_tools" name="throttle_rgb" type="throttle" args="messages /camera/rgb/image_raw 1.0 /rgb_raw"/>
    <node pkg="topic_tools" name="throttle_depth" type="throttle" args=" messages /camera/depth/image_raw 1.0 /depth_raw"/>


    <node name="find_object_3d" pkg="find_object_2d" type="find_object_2d" output="log" required="true">
        <param name="gui" value="false" type="bool"/>
        <param name="subscribe_depth" value="true" type="bool"/>
        <param name="objects_path" value="$(find tutorial_pkg)/image_rec/" type="str"/>
        <param name="object_prefix" value="object" type="str"/>
        <remap from="rgb/image_rect_color" to="/rgb_raw"/>
        <remap from="depth_registered/image_raw" to="/depth_raw"/>
        <remap from="depth_registered/camera_info" to="/camera/depth/camera_info"/>
    </node>

    <include file="$(find tutorial_pkg)/launch/gmapping.launch"></include>

    <include file="$(find tutorial_pkg)/launch/move_base.launch"></include>

</launch>